/* RESPONSIVE GRID */

* {
    box-sizing: border-box;
}

/* Float all columns left */
[class*="col-"] {
    float: left;
    padding: 0px;
}

/* Clear the flow */
.row::after {
    content: "";
    clear: both;
    display: table;
}

body{
    margin: 0;
    padding: 0;
    background: white;
    color: grey;
    font-family: Arial, Helvetica, sans-serif;
  }

/* @media only screen and (max-width: 599px) {     */
/* For mobile phones: */
@media only screen and (max-width: 960px) {
        
    [class*="col-"] {
        width: 100%;
    }

    /* HEADER */

    .header {
        margin-left: -15px;
    }

    .logo {
        display: none;
    }

    .header h1 {
        position: relative;
    }

    .icons {
        display: none;
    }

    /* BURGER MENU */
    
    #menu a {
        text-decoration: none;
        color: #232323;
        transition: color 0.1s ease;
    }

    #menu a:hover {
        color: #FD8BB8;
    }

    #menuToggle{
        display: block;
        position: relative;
        top: 0px;
        left: 50px;
        z-index: 1;
        -webkit-user-select: none;
        user-select: none
    }

    #menuToggle input {
        display: block;
        width: 40px;
        height: 32px;
        position: absolute;
        top: -7px;
        left: -5px;
        cursor: pointer;
        /* hide checkbox */
        opacity: 0; 
        /* and place it over the hamburger */
        z-index: 2;
        -webkit-touch-callout: none;
    }

    #menuToggle span {
        display: block;
        width: 32px;
        height: 4px;
        margin-bottom: 5px;
        position: relative;
        background: grey;
        border-radius: 3px;
        z-index: 1;
        transform-origin: 4px 0px;
        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0, 0.5, 1.0), 
                    background 0.5s cubic-bezier(0.77, 0.2, 0, 0.5, 1.0), 
                    opacity 0.55s ease;
    }

    #menuToggle span:first-child {
        transform-origin: 0% 0%;
    }

    #menuToggle span:nth-last-child(2) {
        transform-origin: 0% 100%;
    }

    /* Transform all the slices of hamburger into a crossmark */

    #menuToggle input:checked ~ span {
        opacity: 1;
        transform: rotate(45deg) translate(-2px, -1px);
        background: #232323;
    }

    /* Hide middle slice */

    #menuToggle input:checked ~ span:nth-last-child(3) {
        opacity: 0;
        transform: rotate(0deg) scale(0.2, 0.2);
    }

    /* Last slice opposite direction */

    #menuToggle input:checked ~ span:nth-last-child(2) {
        opacity: 1;
        transform: rotate(-45deg) translate(0, -1px);
    }

    #menu {
        position: absolute;
        width: 300px;
        margin: -100px 0 0 -50px;
        padding: 50px;
        padding-top: 125px;

        background: #ededed;
        list-style-type: none;
        -webkit-font-smoothing:antialiased;
        /* To stop flickering of text in safari */

        transform-origin: 0% 0%; 
        transform: translate(-100%, 0);

        transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1.0);
    }

    #menu li {
        padding: 10px 0;
        font-size: 22px;
    }

    /* Fade-in from the left */

    #menuToggle input:checked ~ ul {
        transform: scale(1.0, 1.0);
        opacity: 1;
    }

    /* END OF BURGER */

    /* MAIN CONTENT */

    .lorem {
        margin-left: 16px;
        margin-right: 16px;
    }

    h1 {
        text-align: center;
        padding-top:50px
    }

    .row::after {
        content: "";
        clear: both;
        display: table;
    }

    ol {
        padding: 0px;
        list-style-type: none;
    }

    #featured {
        text-align: center;    
        border-style: solid;
        border-color:#A39E9E;
        border-radius: 4px;
        background: white;
        overflow: hidden; 

        margin-top: 10px;
        margin-right: 3px;
        margin-bottom: 10px;
        margin-left: 3px;
        padding: 10px;  
    }

    #featured li {
        text-align: center;
        list-style-type: none;
        border-style: solid;
        border-color: #A39E9E;
        border-radius: 4px; 
        background: white;
        overflow: hidden; 

        height: 450px;

        margin-top: 7px;
        margin-right: 0px;
        margin-bottom: 7px;
        margin-left: 0px;
        padding: 20px; 
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
    }

    #featured li:hover {
        box-shadow: 0 32px 64px 0 rgba(32, 132, 63, 0.20);
        border-color: #FD8BB8;
    }

    #featured li:active {
        border-color: #D8FD8B;
    }

    #featured li.is-selected {
        border-color: #9CE2EE;
        background-color: #9CE2EE;
    }

    #items li {        
        list-style-type: none;
        border-style: solid;
        border-color: #A39E9E;
        border-radius: 4px; 
        background: white;
        overflow: hidden; 
        
        height: 200px;
        
        margin-top: 10px;
        margin-right: 3px;
        margin-bottom: 10px;
        margin-left: 3px;        
        padding: 10px;    
        
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;
        word-wrap: break-word;
        font-size: 74%;
        line-height: 99%;
        box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
    }

    #items li:hover {
        box-shadow: 0 32px 64px 0 rgba(32, 132, 63, 0.20);
        border-color: #FD8BB8;
    }

    #items li:active {
        border-color: #D8FD8B;
    }

    #items li.is-selected {
        border-color: #9CE2EE;
        background-color: #9CE2EE;
    }

    .footer {
        position: relative;
        height: 300px
    }

    .icons-footer {
        text-align: center;
        float: top;
        margin-bottom: 30px;
    }

    .fa {
        padding: 20px;
        font-size: 20px;
        text-align: center;
        margin: 5px;
        border-radius: 50%;
    }
    
    .fa:hover {
        opacity: 0.7;
    }

    .fa-facebook {
        background: #3B5998;
        color: white;
    }
    
    .fa-twitter {
        background: #55ACEE;
        color: white;
    }

    .fa-instagram {
        background: #D42B2B;
        color: white;
    }
  
}

/* @media only screen and (min-width: 600px) {
    For regular tablets upwards:
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}
}  */

@media only screen and (min-width: 960px) {
    /* For large tablets upwards to desktop: */
    .col-m-1 {width: 8.33%;}
    .col-m-2 {width: 16.66%;}
    .col-m-3 {width: 25%;}
    .col-m-4 {width: 33.33%;}
    .col-m-5 {width: 41.66%;}
    .col-m-6 {width: 50%;}
    .col-m-7 {width: 58.33%;}
    .col-m-8 {width: 66.66%;}
    .col-m-9 {width: 75%;}
    .col-m-10 {width: 83.33%;}
    .col-m-11 {width: 91.66%;}
    .col-m-12 {width: 100%;}

    .container {
        margin:0 auto; 
        width: 70%;
        /* width:960px;  */
    }

    .container-header-nav {
        /* margin:0 auto;  */
        width: 90%;
    }

    .container-header {
        margin:0 auto; 
        width: 90%;
    }

    .container-nav {
        /* margin:0 auto;  */
        width: 90%;
    }

    /* HEADER */

    .logo {
        float: right;
        width: 30%;
        height: auto;
    }

    .title {
        /* width: 100px; */
        height: auto;
        padding-top: 20px;
        font-size: 100%;
    }

    .fa {
        padding: 5px;
        font-size: 5px;
        margin: 5px 5px;
    }
    
    .fa:hover {
        opacity: 0.7;
    }

    .fa-facebook {
        background: #3B5998;
        color: white;
    }
    
    .fa-twitter {
        background: #55ACEE;
        color: white;
    }

    .fa-instagram {
        background: #D42B2B;
        color: white;
    }

    /* NO BURGER */

    .menuToggle {
        display: none;
    }

    /* failed attempt to switch FEATURED to the right-hand-side */
    /* .col-xs-12 {
        display: flex;
        flex-direction: column-reverse;
    } */
    
    /* NAVBAR */

    #checkbox {
        display: none;
    }

    .container-nav {
        margin:0 auto; 
        width:750px;
     }

    .row nav {
        margin-top: 300px;
    }

    .nav {
        text-align: center;
    }

    .navbar {
        margin: 0 auto;
    }

    .navbar a {
        float: left;
        display: block;
        color: #A9A4A4;
        outline-style: solid;
        outline-color: #A9A4A4;
        text-align: center;
        padding: 12px 40px;
        
        text-decoration: none;
        font-size: 15px;
        list-style-type: none;  
        margin-top: 2px;
        margin-right: 1px;
        margin-bottom: 2px;
        margin-left: 1px;
    }

    .navbar a:hover {
        background-color:#ededed;
        color: #FD8BB8;
      }
    
    /* MAIN CONTENT */

    .lorem {
        margin-top: 50px;
        padding-right: 70px;
    }
    
    h1 {
        text-align: center;
    }

    ol {
        padding: 0px;
        list-style-type: none;
    }

    .featured-wrapper {
        padding-top: 6px;
    }

    #featured {
        text-align: center;    
        border-style: solid;
        border-color:#A39E9E;
        border-radius: 4px;
        overflow: hidden; 

        margin-top: 10px;
        margin-right: 3px;
        margin-bottom: 10px;
        margin-left: 3px;
        padding: 10px;  
    }

    #featured li {
        text-align: center;
        list-style-type: none;
        border-style: solid;
        border-color: #A39E9E;
        border-radius: 4px; 
        background: white;
        overflow: hidden; 

        height: 450px;

        margin-top: 7px;
        margin-right: 0px;
        margin-bottom: 7px;
        margin-left: 0px;
        padding: 20px; 
        font-size: 90%;        
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
    }
    
    #featured li:hover {
        box-shadow: 0 32px 64px 0 rgba(32, 132, 63, 0.20);
        border-color: #FD8BB8;
    }

    #featured li:active {
        border-color: #D8FD8B;
    }

    #featured li.is-selected {
        border-color: #9CE2EE;
        background-color: #9CE2EE;
    }

    .books-wrapper {
        margin-top: 0px;
    }

    #items {
        columns: 2;
        -webkit-columns: 2;
        -moz-columns: 2;
    }

    #items li {    
        display:flex;
        list-style-type: none;
        border-style: solid;
        border-color: #A39E9E;
        border-radius: 4px; 
        background: white;
        overflow: hidden; 
        
        height: 200px;
        
        margin-top: 0px;
        margin-right: 3px;
        margin-bottom: 10px;
        margin-left: 3px;        
        padding: 10px;    
        
        -webkit-column-count: 2; /* Chrome, Safari, Opera */
        -moz-column-count: 2; /* Firefox */
        column-count: 2;

        word-wrap: break-word;
        font-size: 68%;
        line-height: 100%;
        box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
        transition: 0.3s;
    }

    #items li:hover {
        box-shadow: 0 32px 64px 0 rgba(32, 132, 63, 0.20);
        border-color: #FD8BB8;
    } 

    #items li:active {
        border-color: #D8FD8B;
    }

    #items li div:nth-child(2) {
        width: 50%;
        margin: 1px 1px;
    }

    #items li div:nth-child(3) {
        width: 50%;
        margin: 1px 1px;
    }

    .icons-footer a {
        display: none;
    }

    #items li.is-selected {
        border-color: #9CE2EE;
        background-color: #9CE2EE;
    }
}

/* @media only screen and (min-width: 768px) { */
    /* For desktop: */
    /* .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33.33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}

    
}  */
